<div class="row">
  <% for item in @posts %>
      <div class="col-md-6 col-sm-12">
         <div class="allNews">
            <h3><%= link_to item.title, item %></h3> 
            <%= image_tag item.image.url(:medium) %>
              <div class="shortContent">
                <p><%= item.shortContent %></p>
              </div>
            <hr>
            <h4>Дата публикации: <%= item.created_at.strftime("%D") %></h4>
           <h4>Категория: <%= item.category %></h4>
            <p class = 'tag_cloud'><%=raw item.tag_list.map {|t| link_to t, tag_path(t) }.join(', ')  %></p> <br> 
            <% if user_signed_in? %>
            <%= link_to "Удалить новость", item, method: :delete, data: { confirm: "You sure?" },class: 'btn btn-default pull-right' %>
            <%= link_to "Подробнее...", item, class: 'btn btn-default pull-right' %>
          <%end%>
        </div>
      </div>
  <% end %>
  <div class="col-md-12">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>